.hexagon {
  position: relative;
}

.hexagon svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.hexagon polygon {
  fill: transparent;
  stroke: black; /* Adjust color as needed */
  stroke-width: 2px; /* Adjust thickness as needed */
}
.mini-map {
  position: absolute ;
  top: 500px;
  right: 60px;
  border: 1px solid #000000;
  background-color: #ffffff;
  padding: 2px;
}

.mini-map-row {
  display: flex;
}

.mini-hexagon {
  border: 1px solid #ccc;
  margin: 1px;
}

