@import url("https://fonts.cdnfonts.com/css/public-pixel");

.MenuBackground {
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
  background-image: url(/src/Image/3ff9a7dcaebf98747d072c1bd6868479.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
}
.LobbyBackground {
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
  background-image: url(/src/Image/Untitled.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
}
.Select {
  margin-top: 7%;
  justify-content: center;
  column-gap: 50px;
  display: flex; /* Change inline-flex to flex */
  flex-wrap: wrap;
}
.PlayerLobby {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.PlayerImage {
  width: 250px;
  height: 320px;
  border: #000000 solid;
  border-radius: 60px;
  border-color: white;
  border-width: 6px;
  background-color: rgb(9, 66, 46);
  background-image: url(/src/Image/54012268766885.5b68cd4e27dcf.png);
  background-position: center;
  background-size: 170%;
  background-repeat: no-repeat;
}
.PlayerImageMe {
  width: 250px;
  height: 320px;
  border: #000000 solid;
  border-radius: 60px;
  border-color: rgb(0, 255, 145);
  border-width: 6px;
  background-color: rgb(213, 1, 1);
  background-image: url(/src/Image/54012268766885.5b68cd4e27dcf.png);
  background-position: center;
  background-size: 170%;
  background-repeat: no-repeat;
}


.StartGame {
  margin-top: 10%;

  display: flex;
  justify-content: center;
}

.Unready {
  width: 250px;
  height: 320px;
  background-color: #000000;
  border-radius: 60px;
  opacity: 70%;
}
.Ready {
  width: 250px;
  height: 320px;
  background-color: #000000;
  border-radius: 60px;
  opacity: 0%;
}
.ReadyButton {
  justify-content: center;
  margin-left: 15px;
}
.Menu {
  width: 200px;
  margin-top: 30px;
  margin-left: 200px;

  display: block;
  justify-content: center;
  align-items: center;
}
.MenuHidden {
  display: none;
}
.Box {
  border: solid black;
  border-radius: 10px;
  border-width: 5px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: auto;
  width: 500px;
  height: 300px;
}
.Hidden {
  display: none;
}

.Content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 50px;
  display: block;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.font {
  font-family: "Public Pixel", sans-serif;
}

.pixel,
.pixel2 {
  font-size: 25px;
  color: white;
  height: auto;
  margin: 10px;
  font-family: "VT323";

  position: relative;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;

  cursor: pointer;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pixel:active,
.pixel2:active {
  top: 2px;
  color: rgb(24, 137, 4);
}

.pixel {
  line-height: 0;

  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */

  border-style: solid;
  border-width: 20px;
  -moz-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
  -webkit-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
  -o-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
  border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
}

.pixel p {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: auto;
  text-align: center;
  margin: -20px -20px;
  line-height: 20px;
  padding: 10px 20px;

  background: #000000;
  background: linear-gradient(135deg, transparent 10px, #000000 0) top left,
    linear-gradient(225deg, transparent 10px, #000000 0) top right,
    linear-gradient(315deg, transparent 10px, #000000 0) bottom right,
    linear-gradient(45deg, transparent 10px, #000000 0) bottom left;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-image: radial-gradient(
      circle at 0 0,
      rgba(204, 0, 0, 0) 14px,
      #000000 15px
    ),
    radial-gradient(circle at 100% 0, rgba(204, 0, 0, 0) 14px, #000000 15px),
    radial-gradient(circle at 100% 100%, rgba(204, 0, 0, 0) 14px, #000000 15px),
    radial-gradient(circle at 0 100%, rgba(204, 0, 0, 0) 14px, #000000 15px);
}

.pixel2 {
  position: relative;
  display: block;
  margin: 10px;
  font-family: "Public Pixel", sans-serif;
  text-transform: uppercase;

  font-size: 15px;
  color: rgb(255, 255, 255);
}

.pixel2::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: -10px;
  right: -10px;
  background: black;
  z-index: -1;
}

.pixel2::after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: -6px;
  right: -6px;
  background: black;
  z-index: -1;
}

.pixel2 {
  padding: 10px 10px;
  position: relative;
  background: black;
  width: 200px;
  height: 50px;
  z-index: 2;
}
.pixel2Start {
  position: relative;
  display: block;
  margin: 10px;
  font-family: "Public Pixel", sans-serif;
  text-transform: uppercase;

  font-size: 15px;
  color: rgb(81, 76, 76);
}
.pixelStart,
.pixel2Start {
  font-size: 25px;
  color: white;
  height: auto;
  margin: 10px;
  font-family: "VT323";

  position: relative;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;

  cursor: pointer;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pixelStart:active,
.pixel2Start:active {
  top: 2px;
}

.pixelStart {
  line-height: 0;

  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */

  border-style: solid;
  border-width: 20px;
  -moz-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
  -webkit-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
  -o-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
  border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
}

.pixelStart p {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: auto;
  text-align: center;
  margin: -20px -20px;
  line-height: 20px;
  padding: 10px 20px;

  background: #000000;
  background: linear-gradient(135deg, transparent 10px, #000000 0) top left,
    linear-gradient(225deg, transparent 10px, #000000 0) top right,
    linear-gradient(315deg, transparent 10px, #000000 0) bottom right,
    linear-gradient(45deg, transparent 10px, #000000 0) bottom left;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-image: radial-gradient(
      circle at 0 0,
      rgba(204, 0, 0, 0) 14px,
      #000000 15px
    ),
    radial-gradient(circle at 100% 0, rgba(204, 0, 0, 0) 14px, #000000 15px),
    radial-gradient(circle at 100% 100%, rgba(204, 0, 0, 0) 14px, #000000 15px),
    radial-gradient(circle at 0 100%, rgba(204, 0, 0, 0) 14px, #000000 15px);
}

.pixel2Start {
  position: relative;
  display: block;
  margin: 10px;
  font-family: "Public Pixel", sans-serif;
  text-transform: uppercase;

  font-size: 15px;
  color: rgb(95, 93, 93);
}

.pixel2Start::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: -10px;
  right: -10px;
  background: black;
  z-index: -1;
}

.pixel2Start::after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: -6px;
  right: -6px;
  background: black;
  z-index: -1;
}

.pixel2Start {
  padding: 10px 10px;
  position: relative;
  background: black;
  width: 200px;
  height: 50px;
  z-index: 2;
}
.UpbeatTitle {
  font-size: 50px;
  margin-top: 100px;
  margin-left: 180px;
  font-family: "Public Pixel", sans-serif;
}

.UpbeatTitleDis {
  font-size: 20px;
  margin-top: 7px;
  margin-left: 180px;
  font-family: "Public Pixel", sans-serif;
}
