@import url("https://fonts.cdnfonts.com/css/public-pixel");

.MenuBackground {
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
  background-image: url(/src/Image/1b456377a9dce67a7dc3630260aa7572.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
}
.LobbyBackground {
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
  background-image: url(/src/Image/21e2e73eb9a9984e3b407328f65f5e5b.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 90%;
}

.Gameplay {
  width: 100%;
  height: 0 px;
}
.Warning {
  font-size: 14px;
  text-align: center;
  color: red;
  text-shadow:
    0 0px 2px #000000,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
}
.Gameplay-Main {
  margin-top: 34px;
  display: flex;
  width: 100%;
  position: absolute;
  position: fixed;
  height: 90%;
  justify-content: space-between;
  background-image: url(/src/Image/forest-8227410.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.GameplayBackground-left {
  background-size: 180px;
  justify-content: center;
  display: flex;
  padding-top: 12px;
  float: left;
  width: 73%;
  height: 100%;
  border: 8px solid #434343;
}

.GameplayBackground-right {
  background-image: url(/src/Image/3eb349e2eeecd92398b69ba585f6470a.jpg);
  background-size: 20px;
  width: 27%;
  height: 100%;
  border-right: 8px solid #434343;
}

.GameplayBackground-top {
  width: 99%; /* Full width of the viewport */
  height: 8vh; /* Full height of the viewport */
  background-image: url(/src/Image/3eb349e2eeecd92398b69ba585f6470a.jpg);
  background-size: 20px; /* ขยายพื้นหลังเต็มพื้นที่ของ viewport */
  background-repeat: repeat;
  background-position: center;
  background-attachment: fixed; /* ติดตามหน้าจอ */
  align-items: center;
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  z-index: 1;
  border: 8px solid #434343;
}

.GameplayBackground-top-name {
  /* border: 1px solid red; */
}

.GameplayBackground-top-turn {
  width: 910px;
  display: flex;
  justify-content: space-between;
}

.GameplayBackground-bottom {
  width: 99%; /* Full width of the viewport */
  height: 8vh; /* Full height of the viewport */
  background-image: url(/src/Image/3eb349e2eeecd92398b69ba585f6470a.jpg);
  background-size: 20px; /* ขยายพื้นหลังเต็มพื้นที่ของ viewport */
  background-repeat: repeat;
  background-position: center;
  background-attachment: fixed; /* ติดตามหน้าจอ */
  position: fixed;
  bottom: 0;
  border: 8px solid #434343;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.PlayerInfo {
  width: 400px;
  height: 100vh;
  /* border: #000000 solid; */
  box-sizing: border-box; /* จัดการให้ขนาดความกว้างและความสูงของขอบนับรวมขอบด้วย */
  box-shadow: outset 0 0 20px 11px rgba(0, 0, 0, 0.5);
}

.TuBackground {
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
  background-image: url(/src/Image/2sre110i6u8c1.gif);
  background-size: cover; /* ขยายพื้นหลังเต็มพื้นที่ของ viewport */
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; /* ติดตามหน้าจอ */
  position: fixed;
  bottom: 0;
  justify-content: center;
  display: flex;
}
.TutorialBoard {
  z-index: 1;
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 2%;
  margin-left: 18%;
  background-image: url(/src/Image/book.png);
  background-size: 1000px;
  background-repeat: no-repeat;
}
.BoarderTL {
  justify-content: center;
  float: left;
  width: 32%;
  padding-left: 60px;
  padding-top: 50px;
  height: 100%;

  font-family: asd;
  font-size: 20px;
}
.BoarderTR {
  justify-content: center;
  float: right;
  width: 35%;
  padding-left: 80px;
  padding-right: 10px;
  padding-top: 80px;
  height: 100%;

  font-family: asd;
  font-size: 20px;
}

.PlayerName {
  margin-top: 390px; /* การกำหนดระยะห่างด้านบน */
  z-index: 1;
  font-family: "Public Pixel", sans-serif;
  font-size: 27px;
  color: white;
  position: absolute;
  text-shadow:
    0 0px 14px #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  overflow-wrap: break-word; /* ให้ wrap เมื่อคำเกินความยาว */
  word-wrap: break-word; /* ให้ wrap เมื่อคำเกินความยาว */
  white-space: normal; /* ให้เว้นช่องว่างของบรรทัด */
  word-break: break-all; /* แบ่งคำออกเมื่อคำเกินความยาว */
}
.frame-map {
  width: 700px;
  height: 700px;
}

.hexagon-col {
  margin-left: -2.4%;
}
.hexagon-col-odd {
  margin-top: 4.27%;
  margin-left: -2.4%;
}
.hexagon-col-container {
  display: inline-block;
  margin-top: 5%;
  margin-right: 200px;
}

.hexagon-row {
  display: flex;
}

.hexagon1 {
  background-image: url(/src/Image/a.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.hexagon1I0 {
  background-image: url(/src/Image/ai0.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.hexagon1I1 {
  background-image: url(/src/Image/ai1.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.hexagon2 {
  background-image: url(/src/Image/b.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.hexagon3 {
  background-image: url(/src/Image/c.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.hexagon3I {
  background-image: url(/src/Image/ci.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.hexagon4 {
  background-image: url(/src/Image/d.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.hexagon4I {
  background-image: url(/src/Image/di.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.hexagon-map-container {
  height: 490px;
  width: 900px;
}

.hexagon-map-container1 {
  border: 15px solid transparent;
  border-image: url(/src/Image/3eb349e2eeecd92398b69ba585f6470a.jpg) 40 repeat;
  box-shadow: 0 20px 12px rgba(0, 0, 0, 0.5); /* เพิ่มเงาของขอบ */
}

.frame-bg {
  position: relative;
  display: inline-block;
}

.main-map {
  position: relative;
  width: 100%;
  height: 100%;
  padding-left: 50px;
  z-index: 1;
  background-image: none;
}

.Select {
  margin-top: 7%;
  justify-content: center;
  column-gap: 50px;
  display: flex; /* Change inline-flex to flex */
  flex-wrap: wrap;
}
.PlayerLobby {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.PlayerImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 320px;
  border: #000000 solid;
  border-radius: 60px;
  border-color: white;
  border-width: 6px;
  background-color: rgb(193, 28, 28);
  background-image: url(/src/Image/pngtree-beowulf-clipart-cartoon-viking-cartoon-character-character-illustration-vector-png-image_6798546.png);
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
}
.PlayerImageMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 320px;
  border: #000000 solid;
  border-radius: 60px;
  border-color: rgb(157, 255, 0);
  border-width: 6px;
  background-color: rgb(9, 66, 46);
  background-image: url(/src/Image/pngtree-beowulf-clipart-cartoon-viking-cartoon-character-character-illustration-vector-png-image_6798546.png);
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
}
.SpecialImgMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 320px;
  border: #000000 solid;
  border-radius: 60px;
  border-color: rgb(157, 255, 0);
  border-width: 6px;
  background-color: rgb(9, 66, 46);
  background-image: url(/src/Image/master.png);
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
}
.SpecialImgE {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 320px;
  border: #000000 solid;
  border-radius: 60px;
  border-color: rgb(140, 0, 255);
  border-width: 6px;
  background-color: rgb(37, 8, 53);
  background-image: url(/src/Image/master.png);
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
}
.StartGame {
  margin-top: 1%;
  display: flex;
  justify-content: center;
}
.host {
  font-family: "Public Pixel", sans-serif;
  font-size: 25px;
  color: white;
  position: absolute;
  margin-bottom: 270px;
  z-index: 1;
}
.ReadyStatus {
  font-family: "Public Pixel", sans-serif;
  font-size: 20px;
  color: white;
  position: absolute;
  margin-left: 1%;
  margin-top: 250px;
  z-index: 1;
  text-shadow:
    0 0px 14px #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.UnreadyStatus {
  font-family: "Public Pixel", sans-serif;
  font-size: 20px;
  color: white;
  position: absolute;
  margin-left: 1%;
  margin-top: 250px;
  z-index: 1;
  text-shadow:
    0 0px 14px #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.Unready {
  width: 250px;
  height: 320px;
  background-color: #000000;
  border-radius: 55px;
  opacity: 70%;
}
.Ready {
  width: 250px;
  height: 320px;
  background-color: #000000;
  border-radius: 60px;
  opacity: 0%;
}
.ReadyButton {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  color: wheat;
}
.image-container {
  position: relative;
  width: 70px;
  height: 70px;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* กำหนดภาพของ City Center มีลำดับความสำคัญสูงกว่าภาพของ Crew */
.hexagon-even .image-container img:first-child {
  z-index: 0;
}

/* กำหนดภาพของ Crew มีลำดับความสำคัญต่ำกว่าภาพของ City Center */
.hexagon-even .image-container img:last-child {
  z-index: 1;
}

.hexagon .image-container img:first-child {
  z-index: 0;
}

/* กำหนดภาพของ Crew มีลำดับความสำคัญต่ำกว่าภาพของ City Center */
.hexagon .image-container img:last-child {
  z-index: 1;
}

.Menu {
  width: 200px;
  margin-top: 30px;
  margin-left: 200px;

  display: block;
  justify-content: center;
  align-items: center;
}
.MenuHidden {
  display: none;
}
.Box {
  font-family: "Public Pixel", sans-serif;
  font-size: 30px;
  border: solid rgb(0, 0, 0);
  border-radius: 10px;
  border-width: 5px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: auto;
  width: 500px;
  height: 300px;
  display: flex;
  justify-content: center;
  background-image: url(/src/Image/forest_of_pixels_by_bunnsp_ddxkac6-pre.jpg);
  color: aliceblue;
  text-shadow:
    0 0px 14px #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  background-size: cover;
}
.Hidden {
  display: none;
}

.Content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.BoxContainer {
  margin-top: 12%;
}
.container {
  margin: 50px;
  display: block;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.font {
  font-family: "Public Pixel", sans-serif;
}
.inputCus {
  display: block;
  margin-top: 30px;
  margin-left: 100px;
  width: 50%;
  height: 10%;
}
.inputCusPlan {
  display: block;
  border: 6px solid #434343;
  padding: 5px;
  width: 50%;
  height: 50%;
}
.submitBot {
  margin-top: 30px;
  margin-left: 110px;
}
.submitBot-Gameplay {
  display: block;
}
.submitBotPlan {
  display: block;
}

.pixel,
.pixel2 {
  font-size: 25px;
  color: white;
  height: auto;
  font-family: "VT323";

  position: relative;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;

  cursor: pointer;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pixel:active,
.pixel2:active {
  top: 2px;
  color: rgb(24, 137, 4);
}

.pixel {
  line-height: 0;

  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */

  border-style: solid;
  border-width: 20px;
  -moz-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
  -webkit-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
  -o-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
  border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
}

.pixel p {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: auto;
  text-align: center;
  margin: -20px -20px;
  line-height: 20px;
  padding: 10px 20px;

  background: #000000;
  background:
    linear-gradient(135deg, transparent 10px, #000000 0) top left,
    linear-gradient(225deg, transparent 10px, #000000 0) top right,
    linear-gradient(315deg, transparent 10px, #000000 0) bottom right,
    linear-gradient(45deg, transparent 10px, #000000 0) bottom left;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-image: radial-gradient(
      circle at 0 0,
      rgba(204, 0, 0, 0) 14px,
      #000000 15px
    ),
    radial-gradient(circle at 100% 0, rgba(204, 0, 0, 0) 14px, #000000 15px),
    radial-gradient(circle at 100% 100%, rgba(204, 0, 0, 0) 14px, #000000 15px),
    radial-gradient(circle at 0 100%, rgba(204, 0, 0, 0) 14px, #000000 15px);
}

.pixel2 {
  position: relative;
  display: block;
  margin: 10px;
  font-family: "Public Pixel", sans-serif;
  text-transform: uppercase;

  font-size: 15px;
  color: rgb(255, 255, 255);
}

.pixel2::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: -10px;
  right: -10px;
  background: black;
  z-index: -1;
}

.pixel2::after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: -6px;
  right: -6px;
  background: black;
  z-index: -1;
}

.pixel2 {
  padding: 10px 10px;
  position: relative;
  background: black;
  width: 200px;
  height: 50px;
  z-index: 2;
}
.pixel2Start {
  position: relative;
  display: block;
  margin: 10px;
  font-family: "Public Pixel", sans-serif;
  text-transform: uppercase;

  font-size: 15px;
  color: rgb(81, 76, 76);
}
.pixelStart,
.pixel2Start {
  font-size: 25px;
  color: white;
  height: auto;
  margin: 10px;
  font-family: "VT323";

  position: relative;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;

  cursor: pointer;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pixelStart:active,
.pixel2Start:active {
  top: 2px;
}

.pixelStart {
  line-height: 0;

  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */

  border-style: solid;
  border-width: 20px;
  -moz-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
  -webkit-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
  -o-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
  border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
}

.pixelStart p {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: auto;
  text-align: center;
  margin: -20px -20px;
  line-height: 20px;
  padding: 10px 20px;

  background: #000000;
  background:
    linear-gradient(135deg, transparent 10px, #000000 0) top left,
    linear-gradient(225deg, transparent 10px, #000000 0) top right,
    linear-gradient(315deg, transparent 10px, #000000 0) bottom right,
    linear-gradient(45deg, transparent 10px, #000000 0) bottom left;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-image: radial-gradient(
      circle at 0 0,
      rgba(204, 0, 0, 0) 14px,
      #000000 15px
    ),
    radial-gradient(circle at 100% 0, rgba(204, 0, 0, 0) 14px, #000000 15px),
    radial-gradient(circle at 100% 100%, rgba(204, 0, 0, 0) 14px, #000000 15px),
    radial-gradient(circle at 0 100%, rgba(204, 0, 0, 0) 14px, #000000 15px);
}

.pixel2Start {
  position: relative;
  display: block;
  margin: 10px;
  font-family: "Public Pixel", sans-serif;
  text-transform: uppercase;

  font-size: 15px;
  color: rgb(95, 93, 93);
}

.pixel2Start::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: -10px;
  right: -10px;
  background: black;
  z-index: -1;
}

.pixel2Start::after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: -6px;
  right: -6px;
  background: black;
  z-index: -1;
}

.pixel2Start {
  padding: 10px 10px;
  position: relative;
  background: black;
  width: 200px;
  height: 50px;
  z-index: 2;
}
.UpbeatTitle {
  font-size: 50px;
  margin-top: 100px;
  margin-left: 180px;
  margin-bottom: 20px;
  font-family: "Public Pixel", sans-serif;
  color: #ffffff;
  text-shadow:
    0 0px 14px #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.UpbeatTitleDis {
  font-size: 20px;
  margin-top: 7px;
  margin-left: 180px;
  font-family: "Public Pixel", sans-serif;
  color: #ffffff;
  text-shadow:
    0 0px 14px #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.PlayerStatus {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-top: 38px;

  top: 0;
  right: 0;
  color: #ffffff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.PlayerStatusIn {
  align-items: center;
  justify-content: center;
  padding: 10px 20px 10px 20px;
  position: relative;
  color: #ffffff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.PlayerStatusOP {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px 10px 20px;
  position: relative;
  color: #ffffff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.PlayerStatusOP span {
  padding-right: 100px;
}

.PlayerStatusIn textarea {
  width: 300px;
  color: #ffffff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  height: 150px;
}

.Plan {
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 999;
  position: absolute;
  background-color: #838383;
}

.PlanBoard {
  z-index: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 500px;
  height: 530px;
  border: 6px solid #434343;
  border-radius: 2px;
}

.PlanArea {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.TextArea {
  width: 350px;
  height: 350px;
  border: 6px solid #434343;
  border-radius: 2px;
  resize: none;
  line-height: 22px;
}

.opponent-player {
  background-image: url(Image/pngwing.com.png);
  background-size: 25px; /* ปรับขนาดรูปตามต้องการ */
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 35px; /* ปรับระยะห่างรูปกับข้อความ */
}

.PicSword image {
  background-image: url(Image/sword.png);
  background-size: 16px; /* ปรับขนาดรูปตามต้องการ */
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 30px; /* ปรับระยะห่างรูปกับข้อความ */
}

.PicCoin {
  background-image: url(Image/coin.com.png);
  background-size: 24px; /* ปรับขนาดรูปตามต้องการ */
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 28px; /* ปรับระยะห่างรูปกับข้อความ */
}

.PicCity {
  background-image: url(Image/kisspng-pixel-art-portable-network-graphics-transparency-i-abigaelampaposs-gallery-5d3430c123fcb7.5463292415637014411474.png);
  background-size: 24px; /* ปรับขนาดรูปตามต้องการ */
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 28px; /* ปรับระยะห่างรูปกับข้อความ */
}

.PicRegion {
  background-image: url(Image/ai0.png);
  background-size: 20px; /* ปรับขนาดรูปตามต้องการ */
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 28px; /* ปรับระยะห่างรูปกับข้อความ */
}

.MyTurn {
  color: chartreuse;
}
.OtherTurn {
  color: goldenrod;
}

.Gamestate {
  display: flex;
  align-items: center;
  padding-top: 10px;
  line-height: 15px;
  font-size: 13px;
  color: rgb(188, 247, 255);
}
